#container {
    width: 100%;
    background-color:yellow;
    font-size:0;
    margin: 30px auto;
}
#board {
    margin: auto;
    background-color: black;
}
.pixel {
    background-color:white;
    position: relative;
    border: 1px solid black;
    display:inline-block;
}
#panel {
    float:left;
}
.color {
    width: 51px;
    height: 21px;
}
